Facebook

```html
<span data-icon='ei-sc-facebook' data-size='s'></span>
```

GitHub

```html
<span data-icon='ei-sc-github' data-size='s'></span>
```

Google Plus

```html
<span data-icon='ei-sc-google-plus' data-size='s'></span>
```

Instagram

```html
<span data-icon='ei-sc-instagram' data-size='s'></span>
```

LinkedIn

```html
<span data-icon='ei-sc-linkedin' data-size='s'></span>
```

Odnoklassniki

```html
<span data-icon='ei-sc-odnoklassniki' data-size='s'></span>
```

Pinterest

```html
<span data-icon='ei-sc-pinterest' data-size='s'></span>
```

Skype

```html
<span data-icon='ei-sc-skype' data-size='s'></span>
```

SoundCloud

```html
<span data-icon='ei-sc-soundcloud' data-size='s'></span>
```

Telegram

```html
<span data-icon='ei-sc-telegram' data-size='s'></span>
```

Tumblr

```html
<span data-icon='ei-sc-tumblr' data-size='s'></span>
```

Twitter

```html
<span data-icon='ei-sc-twitter' data-size='s'></span>
```

Vimeo

```html
<span data-icon='ei-sc-vimeo' data-size='s'></span>
```

VK

```html
<span data-icon='ei-sc-vk' data-size='s'></span>
```

Youtube

```html
<span data-icon='ei-sc-youtube' data-size='s'></span>
```