/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  margin-bottom: double($base-spacing-unit);
  padding: $base-spacing-unit 0;

  background-color: $bg-gray;

  .is-home &,
  .is-theme & {
    margin-bottom: 0;

    border-bottom: 1px solid $color-border;
  }
}