/*------------------------------------*\
  Components > Home Hero
\*------------------------------------*/

.c-home-hero {
  padding: quadruple($base-spacing-unit) 0;
  background-color: $bg-gray;

  @include mq($until: tablet) {
    text-align: center;
  }

  @include mq($from: tablet) {
    padding: double(quadruple($base-spacing-unit)) 0;
  }

  @include mq($from: tablet) {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__tagline {
    font-size: double($font-size-tiny);

    @include mq($from: tablet) {
      font-size: double($font-size-medium);
    }

    @include mq($from: desktop) {
      font-size: double($font-size-base);
      font-weight: $font-weight-bold;
    }
  }
}